//
// Fonts
//
$font-family: 'Lora', serif;

//
// Colours
//
$color-background: #f1f1f1;
$color-black: #474747;
$color-grey: #d2d2d2;
$color-teal: #32c5c7;
$color-teal-dark-hightlight: #2db0b1;
$color-teal-light-hightlight: #2eb6b7;
